<label for="passwordInput" class="control-label">Password</label>
<input type="password" id="passwordInput" name="passwordInput" class="form-control" ng-model="user.password" ng-minlength="6" required>
<ng-messages for="signUpForm.passwordInput.$error" ng-if="signUpForm.passwordInput.$dirty">
    <ng-message when="minlength">
        <p class="help-block">
            Your password must be at least 6 characters long!
        </p>
    </ng-message>
    <ng-message when="required">
        <p class="help-block">
            You need a password for your account!
        </p>
    </ng-message>
</ng-messages>
