html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(135deg, #3d8599, #0b163f);
  background-size: 200% 200%;
  -webkit-animation: bg-scroll 30s ease-in-out infinite;
  -moz-animation: bg-scroll 30s ease-in-out infinite;
  animation: bg-scroll 30s ease-in-out infinite;
}

@-webkit-keyframes bg-scroll {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes bg-scroll {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes bg-scroll {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  color: rgba(192, 192, 192, 1);
  text-align: center;
  mix-blend-mode: color-dodge;
}

.content i {
  position: relative;
  top: -25%;
}

.item {
  position: absolute;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  border: 2px solid rgba(128, 128, 128, .5);
  border-radius: 50%;
  mix-blend-mode: color-dodge;
}

.item {
  transition: all .3s ease-out;
}

.square:hover .item {
  border-color: white;
}

.square:hover .content {
  color: rgba(224,224,224, 1);
}
