<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12 col-sm-4 col-centered">
            <h1>Sign Up!</h1>
            <hr>
            <form name="signUpForm" novalidate>

                <bs-form-group for="signUpForm.usernameInput">
                    <username-input></username-input>
                </bs-form-group>

                <bs-form-group for="signUpForm.emailInput">
                    <email-input></email-input>
                </bs-form-group>

                <bs-form-group for="signUpForm.passwordInput">
                    <password-input></password-input>
                </bs-form-group>

                <button type="button" name="signUp" class="btn btn-default" ng-click="signUp()">Sign Up</button>
            </form>
        </div>
    </div>
</div>
