<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-6">
            <h1>Sign Up!</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-6">
            <form name="signupForm" novalidate>
                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input type="text" id="usernameInput" class="form-control">
                </div>
                <div class="form-group">
                    <label for="emailInput">Email</label>
                    <input type="email" id="emailInput" class="form-control">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" id="passwordInput" class="form-control">
                </div>
                <button type="button" name="button" class="btn btn-success">Sign Up</button>
            </form>
        </div>
    </div>
</div>
